<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="signup-form">
    <p-messages *ngIf="messages.length" [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>

    <div class="signup-field">
        <input id="fullName" type="text" pInputText formControlName="fullName" placeholder="Full name"
            class="signup-input" />
        <small *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched" class="p-error">
            Required
        </small>
    </div>

    <div class="signup-field">
        <input id="email" type="email" pInputText formControlName="email" placeholder="Email address"
            class="signup-input" />
        <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="p-error">
            Valid email required
        </small>
    </div>

    <div class="signup-field">
        <input id="password" type="password" pInputText formControlName="password" placeholder="New password"
            class="signup-input" />
        <small *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="p-error">
            Min 6 characters
        </small>
    </div>

    <p-button label="Create Account" type="submit" [loading]="loading" [disabled]="registerForm.invalid"
        styleClass="signup-btn" icon="pi pi-arrow-right" iconPos="right"></p-button>
</form>